<div class='container' id='container'>
  <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <div class='card-wrapper'>

          <div class='main-window' id='main-window'>

            <div class='user-image' style="background-image: url({{users.user.data.avatar_url}})">
              <div class='username'>{{ users.user.data.name }}</div>
            </div>
            <div class='user-info'>
              <div class='quote'> 
                <span class="glyphicon glyphicon-home" ng-show="users.user.data.location"></span> 
                {{ users.user.data.location }}
                <br>
                <a href="mailto:{{users.user.data.email}}">
                  <span class="glyphicon glyphicon-envelope" ng-show="users.user.data.email"></span>
                </a>
                <a href="{{users.user.data.html_url}}" target="_blank"> 
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class='repo-info'>
              <div class='repo-info-elm' ng-repeat="repo in users.repos | orderBy:'-stargazers_count' | limitTo:3"> 
                <a href="{{repo.html_url}}" target="_blanc"> {{ repo.name }} </a> 
              </div>
            </div>
            <div class='repo-count'>
              <div class='repo-count' ng-repeat="repo in users.repos | orderBy:'-stargazers_count' | limitTo:3"> <span class='lg'>{{ repo.stargazers_count }}</span></div>
            </div>
            <div class="user-info"> 
                <div class='quote'>
                  <a href="#" ui-sref="users"> <span class="glyphicon glyphicon-arrow-left"></span> </a>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

