<!DOCTYPE html>
<html ng-app="githubUsers">
<head>
  <title></title>

  <!-- Angular Dependencies-->
  <script src="./bower_components/angular/angular.min.js"></script>

  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" /> -->
  
  <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <!-- Internal JS Dependencies-->
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/controllers/usersController.js"></script>

  <!-- Custom CSS  -->
  <link rel="stylesheet" href="./assets/css/style.css">

</head>
<body data-ng-controller="UsersController as users">


  <form id="login" ng-submit="users.searchUsers()" novalidate>
        <input type="text" ng-model="users.query"> 
        <button type="submit" >Login</button>
  </form>

  <div>
      <ul>
          <li ng-repeat="user in users.all | startFrom:users.currentPage*users.pageSize | limitTo:users.pageSize">
              {{ user.login }}
              <!-- {{ user.avatar_url }} -->
          </li>
      </ul>
      <button ng-disabled="users.currentPage == 0" ng-click="users.currentPage=users.currentPage-1">
          Previous
      </button>
      {{users.currentPage+1}}/{{users.numberOfPages()}}
      <button ng-disabled="users.currentPage == 6" ng-click="users.currentPage=users.currentPage+1">
          Next
      </button>
  </div>







</body>
</html>