<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script>
      var app=angular.module('myApp', []);

      app.controller('MyCtrl', ['$scope', function ($scope) {
          self = this;
          self.currentPage = 0;
          self.pageSize = 10;
          self.data = [];
          
          self.numberOfPages=function(){
              return Math.ceil(7);                
          }
          
          for (var i=0; i<65; i++) {
              self.data.push("Item "+i);
          }

          return self;
      }]);


      app.filter('startFrom', function() {
          return function(input, start) {
              start = +start; //parse to int
              return input.slice(start);

          }
      });

    </script>
  </head>

  <div ng-app="myApp" ng-controller="MyCtrl as m">
      <ul>
          <li ng-repeat="item in m.data | startFrom:m.currentPage*m.pageSize | limitTo:m.pageSize">
              {{item}}
          </li>
      </ul>
      <button ng-disabled="m.currentPage == 0" ng-click="m.currentPage=m.currentPage-1">
          Previous
      </button>
      {{m.currentPage+1}}/{{m.numberOfPages()}}
      <button ng-disabled="m.currentPage == 6" ng-click="m.currentPage=m.currentPage+1">
          Next
      </button>
  </div>

</html>